.button-addMenu {
  position: absolute;
  bottom: 50px;
  right: 50px;
  width: 50px;

  svg {
    transition: ease-in-out 0.3s;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}

.modal {
  position: absolute;
  right: 0;
  bottom: 70px;
  width: auto;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  animation: 0.5s linear reveal;

  .modal-content {
    padding: 20px;
  }
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
